sodium/sodium-test/Data/*
sodium/sodium-test/Project/DerivedData/*
sodium/sodium-test/userPreferences.*
sodium/sodium-test/Plugins/
sodium/build/
sodium/cmake-build/
**/xcuserdata/
*.vcxproj.user
.DS_Store
sodium/.vs/*
sodium/sodium/x64/*
libsodium-cmake/libsodium/src/libsodium/include/sodium/version.h
